    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre nosotros</h2>
              <br/>
                
                <p>Nuestro propósito es satisfacer a nuestros clientes con detalles gastronómicos diferenciados por su calidad, sabor,imagen y elaboración artesanal pero con calidad profesional. 
                </p>
  <p>Ofrecemos un servicio 100% personalizado. Somos una empresa dedicada a la gastronomía con servicios de entrega de pedidos especiales y de Chef a domicilio. Clases de cocina para grupos en casa, bocadillos, repostería para toda ocasión y queques creativos con diseños especiales. 
                </p>
                
  <p>Atendido por la Chef Sophia Rodríguez, graduada de la carrera de Cocina Profesional y Pastelería Profesional de O Sullivan Culinary. Tel: 83 46 79 01
                </p>
                
                <br/>
              </div>
        </div>
    </section>
